/* .neww{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
    font-family: sans-serif;
  } */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  .new{
      margin-top: -100px;
  }
  body{
    /* to fix the background issue */
    background: linear-gradient(180deg, var(--Black),var(--Cream)) fixed;
    max-width: 100%;
  }
  .box{
    max-width: 1200px;
    display: grid;
    /* The grid-template-columns property specifies the number (and the widths) of columns in a grid layout. */
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    margin: 0 auto;
    z-index: 0;
    height: 100%;
  }
  .card{
    position: relative;
    width: 250px;
    height: 300px;
    background: #fff;
    margin: 0 30px;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
    z-index: 1;
    margin-bottom: 40px;
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }

  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  }

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   }

.card{
    top:300px;

}

.harry
{
    color:black;
}
.harry:hover{
    color: var(--SkyBlue);
    text-decoration: none;
}

.headings{
    left: 650px;
    top:150px;
    position:absolute;
    color:white;
}

.h
{
font-family: 'Permanent Marker',cursive;
 color: white !important;
 font-size: 40px;
 position: absolute;
 /* left: 628px !important; */
 top:100px;
 width: 100%;
 margin: 0 auto;
 max-width: 600px;
 left: 0;
 right: 0;
 text-align: center;

}

 /* .h-minor
{
  position: relative;
  left: 550px;
  width: 30%;
} */
@media screen and (max-width:991px)
{
 .box{
   margin-left: 80px !important;
   width: 950px;
   display: grid;
   grid-template-columns: auto auto;
   grid-gap:5px;
    margin:0px;
    padding:0px;
 }

 .card{
   position: relative;
   margin-bottom: 40px ;

 }

 /* .h-minor{
   position: absolute;
   margin-left: -220px !important;
 } */
}

@media screen and (max-width:760px) {
  .box{
    margin-left: 40px !important;
    width: 560px;
    display: grid;
  }

  .card{
    margin-bottom: 40px;
  }

  /* .h-minor{
    position: absolute !important;
    width: 70%;
    left: 460px !important;
     height: 200px !important;
  } */
}

@media screen and (max-width:650px) {
  .box {
    margin-left: 140px !important;
    width: 560px;
    display: grid;
    grid-template-columns: auto;
  }

  .card {
    margin-bottom: 40px;
  }

  /* .h-minor{
    position: absolute !important;
    width: 70%;
    left: 460px !important;
     height: 200px !important;
  } */
}

@media screen and (max-width:210px) {
  .box {
    margin-left: 200px !important;
    width: 160px;
    display: grid;
    grid-template-columns: auto;
  }

  .card {
    margin-bottom: 40px;
  }
}